.selection .option{
    padding: 10px 20px;
    transition: 1s;
}

.selection .options .item:hover{
    background: var(--bg-200);
}
.item,.option{
    cursor: pointer;
    padding-inline: 10px ;
    font-size: .9rem;
}
.selection svg{
    fill: var(--text-100);
    stroke-width: 10%;
    color: var(--bg-300);
    transform: translateY(2.5px);

}
.page{
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--bg-100);
    color: var(--text-100);
}
.edit-btns{
    opacity: 20%;
    transition: 2s;
}
.edit-btns:hover{
    opacity: 100%;
    z-index: 200;
}
.edit-btn{
    padding: 5px;
    color:var(--bg-100);
    cursor: pointer;
}
.selection-boxes{
    background-color: var(--bg-200);
    z-index: 10;
    position: absolute;
    height: 50vh;
    border-start-end-radius: 0.75rem ;
    border-end-end-radius: 0.75rem ;
}
.structure-boxes-container{
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
}
.editModalBtn{
    background-color: var(--accent-100) ;
    color: white;
    
}
.editModalBtnActive{
    background-color: var(--faded-black);
}

.content-boxes{
    text-indent: 0;
    padding: 15px 30px;
    transition: 1s;
    cursor: pointer;
}
.content-boxes:hover{
    background-color: var(--accent-100);
    transform: (1.1);
}
.content-option{
    padding: 10px 20px;
    cursor: pointer;
    
}
.content-option:hover{
    background-color: var(--bg-200);
}
.selection-boxes :has(.boxes-container){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.structures-section .inp{
    display: flex;
    gap: 20px;
}
.structures-section .inp input{
    border-radius: 20px;
    border: 1px solid;
}
.hide{
    display: none;
}


.modal-body{
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--faded-black);
}
.modal{
    background-color: var(--bg-200);
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 400px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}