.selection .option{
    padding: 10px 20px;
    transition: 1s;
}

.selection .options li:hover{
    background: var(--bg-200);
}
.option{
    cursor: pointer;
    padding-inline: 10px ;
    font-size: .8em;
}
.selection svg{
    fill: var(--text-100);
    stroke-width: 10%;
    color: var(--bg-300);
    transform: translateY(2.5px);

}
.page{
    background-color: var(--bg-100);
    color: var(--text-100);
}
