@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary-100:#61DAFB;
    --primary-200:#39bcdc;
    --primary-300:#007997;
    --accent-100:#FF4081;
    --accent-200:#ffe4ff;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#282C34;
    --bg-200:#383c44;
    --bg-300:#50555e;
      
    --faded-black:#000000cc;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    scrollbar-width: none;
}
body{
    background-color: var(--bg-100);
}

div{
    color: var(--text-100);
}