@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary-100:#1bd069;
    --primary-200:#61bc84;
    --primary-300:#c6ffe6;
    --accent-100:#8FBC8F;
    --accent-200:#345e37;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
      
    --faded-black:#000000cc;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    scrollbar-width: none;
}
body{
    background-color: var(--bg-100);
}

div{
    color: var(--text-100);
}